<h1>Editing</h1>
<%= form_for @task do |f| %>
  <%= f.label :name, "Enter Task Name:" %>
  <%= f.text_field :name %>

  <%= f.label :done, "Done:" %>
  <%= f.select(:done, options_for_select([['false',false], ['true',true]], @task.done))%>
  <%= f.submit %>
<% end %>
<%= link_to 'Back to tasks list', tasks_path %>
